body {
    background-color: rgb(136, 234, 17);
}

a{
    color: blue;
}
a:hover{
    color: azure;
}

h1{color: chartreuse;
    background-color: blue;
text-align: center;}
h2{
    color: white;
}
h3{color: rgb(16, 32, 203);}

html{
    color: rgb(203, 18, 144);
}

body{
    margin-top: 50px;
    margin-left: 60px;
    margin-bottom: 50px;
    padding-left: 20px;
    padding-bottom: 30px;
}